* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  background-image: url('img/fundo_imagem.jpg');
  background-size: 100% 100%;
}

.memory-game {
  width: 960px;
  height: 590px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  border-radius: 8px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  position: absolute;
  border-radius: 8px;
  background: #ffffff;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.item1 { grid-area: c0;
  text-align: center;
  font-family: Arial Black;
  display: none;
}
.item2 { grid-area: c1;
  text-align: center;
  font-family: Arial Black;
  grid-template-columns: 50px;
  grid-template-rows: 50px;
}
.item3 { grid-area: c2;
  text-align: center;
  font-family: Arial Black;
}
.item4 { grid-area: c3;
  text-align: center;
  font-family: Arial Black;
}
.item5 { grid-area: c4;
  text-align: center;
  font-family: Arial Black;
}
.item6 { grid-area: cartas;
}
.item7 { grid-area: lA;
  display: flex;
  align-items: center;
  font-family: Arial Black;
}
.item8 { grid-area: lB;
  display: flex;
  align-items: center;
  font-family: Arial Black;
}
.item9 { grid-area: lC;
  display: flex;
  align-items: center;
  font-family: Arial Black;
}

.grid-container {
  /* margin: 0 auto; */
  display: inline-grid;
  grid-template-areas: 
  'c0 c1 c2 c3 c4'
  'lA cartas cartas cartas cartas'
  'lB cartas cartas cartas cartas'
  'lC cartas cartas cartas cartas';
  grid-gap: 10px;
  padding: 10px;
  /* max-width: 800px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  font-size: 30px;
}

